<div class="row cabecalho">
  <div class="col-md-4">
    <img src="/img/uniritter_logo.png" alt="">
  </div>
  <div class="col-md-8">
    <div class="row">
      <h1>Trabalho de Inteligencia Artificial - Algoritmo A*</h1>
      <h3>Professor: Wilson Gavião</h2>
      <h3>Alunos: Érico Amarante, Leonardo Rangel e Rosilene Labres</h2>
    </div>

  </div>
</div>
