<div class="row cabecalho">
  <div class="col-md-2">

  </div>
  <div class="col-md-10">
    <div class="row">
      <h1>Trabalho de Inteligencia Artificial - Algoritmo A*</h1>
      <h3>Professor: Wilson Gavião</h3>
      <h3>Alunos: Érico Amarante, Leonardo Rangel e Rosilene Labres</h3>
      <h4>Repositório: https://github.com/lrsousa/pathfinder-ia</h4>
    </div>

  </div>
</div>
