<!DOCTYPE html>
<html>
  <% include ../includes/header.ejs %>
  <body>

    <div class="row">
      <div class="col-md-2">
        formulario
      </div>

      <div class="col-md-10" id="map">
      </div>
    </div>

    <% include ../includes/footer.ejs %>
    <% include ../includes/imports-js.ejs %>
    <script type="text/javascript" src="/js/site/algoritmo-a-estrela.js"></script>

    <script type="text/javascript">

      var myStyle = [
        {
          featureType: "administrative",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        },
        {
          featureType: "poi",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        }
      ];

      var pontosJson = JSON.parse(Get("/pontosIniciais"));
      var pontos = [];

      for (i = 0; i < pontosJson.length; i++) {
        pontos.push(ponto(pontosJson[i]));
      }

      var destino = pontos[40];

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(-30.032118, -51.236217),
          mapTypeId: 'mystyle'
        });

        map.mapTypes.set('mystyle', new google.maps.StyledMapType(myStyle, { name: 'My Style' }));

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < pontos.length; i++) {
          marker = new google.maps.Marker({
            identificador: pontos[i].id,
            ativo: true,
            icon: {
              url: 'http://maps.google.com/mapfiles/ms/icons/green.png'
            },
            position: new google.maps.LatLng(pontos[i].lat, pontos[i].lng),
            label: {
              text:pontos[i].id.toString(),
              fontWeight:'bold'
            },
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              console.log("distancia de: " + this.identificador);
              console.log(pontos[this.identificador-1].distanciaGeodesicaDestino(destino));
              marker.ativo = !marker.ativo;
              if(marker.ativo) {
                marker.setIcon({url:'http://maps.google.com/mapfiles/ms/icons/green.png'});
                pontos[this.identificador-1].ativo = true;
              } else {
                marker.setIcon({url:'http://maps.google.com/mapfiles/ms/icons/red.png'});
                pontos[this.identificador-1].ativo = false;
              }
            }
          })(marker, i));
        }
      }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrPzOscJfdLUzjF7tBZyFVaQth4sAGUO0&libraries=geometry&callback=initMap"></script>


</body>
</html>
