<!DOCTYPE html>
<html>
  <% include includes/header.ejs %>
  <body>

    <a href="/a-estrela">Trabalho A*</a>

    <% include includes/footer.ejs %>
    <% include includes/imports-js.ejs %>
  </body>
</html>
